[submodule "lib/hybridauth"]
	path = lib/hybridauth
	url = https://github.com/hybridauth/hybridauth
[submodule "lib/php-finediff"]
	path = lib/php-finediff
	url = https://github.com/gorhill/PHP-FineDiff
[submodule "lib/jade-php"]
	path = lib/jade-php
	url = https://github.com/ronan-gloo/jade-php
[submodule "lib/htmlawed"]
	path = lib/htmlawed
	url = https://github.com/GerHobbelt/HTMLawed
[submodule "demo/ui/frontend.js"]
	path = demo/ui/frontend.js
	url = http://github.com/tr4n2uil/frontend.js.git
[submodule "demo/ui/frontend.css"]
	path = demo/ui/frontend.css
	url = http://github.com/tr4n2uil/frontend.css.git
