#
#	Default project .htaccess file
#
#	Vibhaj Rajan <vibhaj8@gmail.com>
#
#	Licenced under MIT Licence 
#	http://www.opensource.org/licenses/mit-license.php
#

RewriteEngine on

# 	forward everything to index.php
RewriteRule ^(.*)$ index.php [L]

